/CongaLine/CongaLine.xcodeproj/xcuserdata/oleygen.xcuserdatad/xcschemes/xcschememanagement.plist
/CongaLine/CongaLine.xcodeproj/project.xcworkspace/xcuserdata/oleygen.xcuserdatad/UserInterfaceState.xcuserstate
/CongaLine/CongaLine.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
/CongaLine/CongaLine.xcodeproj/project.xcworkspace/contents.xcworkspacedata
